
body {
  background-color: #b28906;
  color: #FBFAF5; /* text color */
}

/* Change header text to imported font */
h2 {
  font-family: 'Arial Bold', Helvetica, sans-serif;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}

.shiny-output-error{
    color: #FBFAF5;
}

.shiny-input-container #n_slider-label{
  color: #FBFAF5;
}

.irs--shiny .irs-grid-text{
  color: #FBFAF5;
}

.irs--shiny .irs-min, .irs--shiny .irs-max {
  color: #FBFAF5;
}

.irs-grid-pol{
  color: #FBFAF5;
}

.irs--shiny .irs-grid-pol{
  background-color: #FBFAF5;
}

.irs--shiny .irs-bar {
  top: 25px;
  height: 8px;
  border-top: 1px solid #FFFFF0;
  border-bottom: 1px solid #FFFFF0;
  background: #FFFFF0;
}